body {
	background-color: #222;
}

.progress {
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  height: 20%;
  border-radius: 1000px;
  background-color: #c7c7c7;
}

.progress-bar {
	font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage {
  font-size: 40px;
  display: flex;
  justify-content: center;
  position: absolute;
  color: #222;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: fantasy;
  z-index: 10;
}